<!-- Start Header Area -->
<header id="header">
	<div class="container">
		<div class="row align-items-center justify-content-between d-flex">
			<div id="logo">
				<a href="/"><img src="assets/img/logo.png" alt="" title="" /></a>
			</div>
			<nav id="nav-menu-container">
				<ul *ngIf="!isLogined" class="nav-menu">
					<li class="menu-active"><a href="/login">Sign In</a></li>
					<li><a href="/join">Sign Up</a></li>
				</ul>
				<ul *ngIf="isLogined" class="nav-menu">
					<li><a href="/login" (click)="logout()">Sign out</a></li>
					<li><a href="/dashboard">Dashboard</a></li>
				</ul>
			</nav><!-- #nav-menu-container -->
		</div>
	</div>
</header>
<!-- End Header Area -->

<!-- Start Banner Area -->
 <section class="home-banner-area relative">
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-center">
			<div class="wrapper fadeInDown">
				<div id="formContent">
					<!-- Tabs Titles -->
					<h2 class="active">Sign In</h2>
			
					<!-- Login Form -->
					<form [formGroup]='loginForm' (ngSubmit)='login()'>
						<span class="input-alert" *ngIf="loginForm.controls.id.hasError('pattern') && !loginForm.controls.id.hasError('required')"> <strong>* 5개 이상 12개 이하의 숫자 혹은 영문자</strong>를 입력해주세요</span>
						<input formControlName="id" type="text" id="id" class="custom-input fadeIn second" name="id" placeholder="id">
						<span class="input-alert" *ngIf="loginForm.controls.password.hasError('pattern') && !loginForm.controls.password.hasError('required')"> <strong>* 숫자, 특수문자 각 1회, 영문자 2개 사용하여 8개 이상</strong>을 입력해주세요</span>
						<input formControlName="password" type="password" id="password" class="custom-input fadeIn third" name="password" placeholder="password">
						<input [disabled]="!loginForm.valid" type="submit" class="fadeIn fifth genric-btn primary" value="login">
					</form>
					
				</div>
			</div>
		</div>
	</div>
	<div class="rocket-img">
		<img src="assets/img/rocket.png" alt="">
	</div>
</section>
<!-- End Banner Area -->

<!-- Start Sample Area -->
<section class="sample-text-area">
	<div class="container">
		<h3 class="text-heading">Code Secret</h3>
		<p class="sample-text">
			Code Secret은 사용자의 깃허브 내 Secret Key를 자동으로 수정하는 서비스를 제공합니다.
			
		</p>
	</div>
</section>
<!-- End Sample Area -->

<!-- Start Footer Area -->
<footer class="footer-area section-gap">
	<div class="container">
		<div class="footer-bottom row align-items-center">
			<p>This program is made by CodeSecretTeam Code (Code:<a href="https://github.com/2jun0/CodeSecret-Backend">Backend</a>,<a href="https://github.com/2jun0/CodeSecret-Frontend">FrontEnd</a>)</p>
			<p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
		</div>
	</div>
</footer>
<!-- End Footer Area -->

<!-- ####################### Start Scroll to Top Area ####################### -->
<div id="back-top">
	<a title="Go to Top" href="#"></a>
</div>
<!-- ####################### End Scroll to Top Area ####################### -->