<!-- Start Header Area -->
<header id="header">
	<div class="container">
		<div class="row align-items-center justify-content-between d-flex">
			<div id="logo">
				<a href="/"><img src="assets/img/logo.png" alt="" title="" /></a>
			</div>
			<nav id="nav-menu-container">
				<ul *ngIf="!isLogined" class="nav-menu">
					<li><a href="/login">Sign In</a></li>
					<li><a href="/join">Sign Up</a></li>
				</ul>
				<ul *ngIf="isLogined" class="nav-menu">
					<li><a href="/login" (click)="logout()">Sign out</a></li>
					<li class="menu-active"><a href="/dashboard">Dashboard</a></li>
				</ul>
			</nav><!-- #nav-menu-container -->
		</div>
	</div>
</header>
<!-- End Header Area -->

<!-- Start Banner Area -->
<section class="banner-area relative">
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Dashboard
				</h1>
				<p>You can protect potential risks to check your dashboard</p>
			</div>
		</div>
	</div>
	<div class="rocket-img">
		<img src="img/rocket.png" alt="">
	</div>
</section>
<!-- End Banner Area -->

<!-- Start Align Area -->
<div class="whole-wrap">
	<div class="container">
		<!-- Start Table Area -->
		
		<div class="section-top-border">
			<ng-container *ngIf="secretKeys.length == 0">
				<div class="vcv-container">
					<div class="vce-message-box vce vce-message-box-style--information">
						<div class="vce-message-box-inner">
							<span class="vce-message-box-icon material-icons">check</span>
							<span class="vce-message-box-text">
								<p>깃허브 내 secret key가 검출되지 않았습니다.</p>
							</span>
						</div>
					</div>
				</div>
			</ng-container>

			<ng-container *ngIf="secretKeys.length > 0">
				<div class="vcv-container">
					<div class="vce-message-box vce vce-message-box-style--error">
						<div class="vce-message-box-inner">
							<span class="vce-message-box-icon material-icons">change_history</span>
							<span class="vce-message-box-text">
								<p>깃허브 내 {{secretKeys.length}}개의 secret key가 검출되었습니다.</p>
							</span>
						</div>
					</div>
				</div>
				<div class="progress-table-wrap">
					<div class="progress-table">
						<div class="table-head">
							<div class="number">#</div>
							<div class="fileUrl">저장소 이름</div>
							<div class="position">탐지된 key값</div>
						</div>
						<ng-container *ngFor="let key of secretKeys; index as i">
							<div class="table-row">
								<div class="number">{{i}}</div>
								<div class="fileUrl">123</div>
								<div class="position">1:13</div>
							</div>
						</ng-container>
					</div>
				</div>
			</ng-container>
		</div>
		<!-- End Table Area -->
	</div>

	<!-- <nav class="blog-pagination justify-content-center d-flex">
		<ul class="pagination">
			<li class="page-item">
				<a href="#" class="page-link" aria-label="Previous">
					<span aria-hidden="true">
						<span class="lnr lnr-chevron-left"></span>
					</span>
				</a>
			</li>
			<li class="page-item"><a href="#" class="page-link">01</a></li>
			<li class="page-item active"><a href="#" class="page-link">02</a></li>
			<li class="page-item"><a href="#" class="page-link">03</a></li>
			<li class="page-item"><a href="#" class="page-link">04</a></li>
			<li class="page-item"><a href="#" class="page-link">09</a></li>
			<li class="page-item">
				<a href="#" class="page-link" aria-label="Next">
					<span aria-hidden="true">
						<span class="lnr lnr-chevron-right"></span>
					</span>
				</a>
			</li>
		</ul>
	</nav> -->
</div>
<!-- End Align Area -->

<!-- Start Footer Area -->
<footer class="footer-area section-gap">
	<div class="container">
		<div class="footer-bottom row align-items-center">
			<p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
		</div>
	</div>
</footer>
<!-- End Footer Area -->

<!-- ####################### Start Scroll to Top Area ####################### -->
<div id="back-top">
	<a title="Go to Top" href="#"></a>
</div>
<!-- ####################### End Scroll to Top Area ####################### -->